//
// Utility: Visually Hidden
// Hides element visually, but stays in DOM
// --------------------------------------------------

%u-visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
} // %u-visually-hidden


//
// Utility: Image Replacement
// Hide text for image replacement
// --------------------------------------------------

%u-image-replacement {
  background: transparent;
  border: 0;
  overflow: hidden;
  text-indent: -99999em;
} // %u-image-replacement


//
// Utility: Wrapper
// Wrapper for centered alignment on page
// --------------------------------------------------

.u-wrapper {
  @include clearfix();
  margin: 0 auto;
  max-width: 1024px;
  padding: 0 map-get($spacing, small);
  position: relative;

  @include mq(medium) {
    padding-left: (map-get($spacing, small) * 2) + 200;
  } // mq.medium

  .l-header & {

    @include mq(medium) {
      padding-left: map-get($spacing, small);
    } // mq.medium
  } // .l-header &
} // .u-site-wrapper


//
// Utility: Description Group
// Container used for group description list elements
// --------------------------------------------------

.u-dg {
  margin: .5em 0 .7em;
} // .u-site-wrapper


//
// Utility: Site Wrapper
// Container for entire rendered page for control
// --------------------------------------------------

.u-site-wrapper {
  min-width: 320px;
  overflow: hidden;
} // .u-site-wrapper


//
// Utility: Skip to Content
// Wrapper for centered alignment on page
// --------------------------------------------------

.u-skip-to-content {
  @extend %u-visually-hidden;
} // .u-skip-to-content
