//
// Layout: Header
// --------------------------------------------------

.l-header {
  @include clearfix();
  background: rgba(map-get($colors, base-1), .9);
  border-bottom: 1px solid map-get($colors, base-1);
  height: 40px;
  left: 0;
  min-width: 320px;
  position: fixed;
  width: 100%;
  z-index: 5;

  @include mq(medium) {
    height: 60px;
    position: absolute;
  } // mq.medium

  .sidr-open & {

    @include mq-between(mobile) {
      left: -260px;
    } // mq-between.mobile
  } // .sidr-open &

  .l-header__heading {
    @extend %u-visually-hidden;
  } //.l-header__heading
} // .l-header
