{% include "includes/head.html" %}
<body class="p-guide t-class--rogue">
    <a href="#main" class="u-skip-to-content">Skip to content</a>
    <div class="u-site-wrapper">
        {% include "includes/header.html" %}
        <main role="main" class="l-main" id="main">
            {% include "includes/navigation-category.html" %}
            <div class="u-wrapper">
                {% include "includes/navigation-section.html" %}
                {% include "content/questions-list.html" %} 
                {% include "content/blog-entry.html" %}
                {% include "content/guide-list.html" %}
                {% include "content/stats.html" %}
                {% include "content/overview.html" %}
            </div>
            <!-- /.u-wrapper -->
        </main>
        <!-- /.l-main -->

        {% include "includes/footer.html" %}

    </div>
    <!-- /.u-site-wrapper -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script>
        window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')
    </script>
    <script src="scripts/main.js"></script>
</body>
<!-- /.p-guide -->

</html>