//
// Layout: Footer
// --------------------------------------------------

.l-footer {
  background: rgba(map-get($colors, base-1), .9);
  border-top: 1px solid map-get($colors, base-1);
  color: map-get($colors, white);
  padding: 10px 0;
  text-align: center;
} // .l-footer
