//
// Layout: Header
// --------------------------------------------------

.l-header {
  @include clearfix();
  background: rgba(map-get($colors, base-1), .9);
  border-bottom: 1px solid map-get($colors, base-1);
  height: 40px;
  left: 0;
  position: fixed;
  width: 100%;
  z-index: 5;

  @include mq(medium) {
    height: 60px;
    position: absolute;
  } // mq.medium

  .l-header__heading {
    color: map-get($colors, white);
    float: left;
    font-family: map-get($fonts, base-2);
    font-size: 1.6em;
    line-height: 1;
    margin: 0;
    text-transform: none;

    @include mq(medium) {
      border: 0;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    } // mq.medium
  } //.l-header__heading

  .l-header__heading-link {
    display: block;
    font-weight: 700;
    line-height: 36px;
    padding-top: 3px;
    text-decoration: none;

    @include mq(medium) {
      font-weight: 300;
      line-height: 56px;
      text-align: center;
      width: 200px;
    } // mq.medium
  } // .l-header__heading-link
} // .l-header
