//
// Layout: Main
// --------------------------------------------------

.l-main {
  padding: (40px + map-get($spacing, small)) 0 0;
  position: relative;

  @include mq(medium) {
    padding-top: (60px + map-get($spacing, small));
  } // mq.medium
} // .l-main
