//
// Component: Blog Entry
// --------------------------------------------------

.c-blog-entry {

  .c-blog-entry__connected {
    background: map-get($colors, base-4);
    padding: (map-get($spacing, small)/2) map-get($spacing, small);
  } // .c-blog-entry__connected

  .c-section__feature-overlay {
  	background: none !important;
  } // .c-section__feature-overlay

  .c-blog-entry__author {
  	border-top: 3px solid map-get($colors, base-5);
  	padding: map-get($spacing, small) 0;
  } // .c-blog-entry__author
} // .c-blog-entry
