//
// Component: Category Navigation
// --------------------------------------------------

.c-category-navigation {
  border: 1px solid map-get($colors, base-5);
  border-width: 1px 0;
  margin: 0 0 15px;
  padding: 10px 0;
  text-align: center;

  @include mq(medium) {
    text-align: left;
  } // mq.medium

  .c-category-navigation__heading {
    color: map-get($colors, base-1);
    margin: 0 map-get($spacing, small);

    @include mq(medium) {
      display: inline-block;
      line-height: 56px;
      vertical-align: top;
    } // mq.medium
  } // .c-category-navigation__heading

  .c-category-navigation__list {
    display: inline;
    height: 40px;
    margin: 0;
    padding: 0;
    text-align: center;

    @include mq(medium) {
      height: 56px;
    } // mq.medium
  } // .c-category-navigation__list

  .c-category-navigation__list-item {
    border: 1px solid map-get($colors, base-1);
    border-radius: 50%;
    display: inline-block;
    margin: 0 1px;
    overflow: hidden;
    transition: border-color .4s;

    @include mq(medium) {
      margin: 0 10px;
    } // mq.medium

    &:hover,
    &.is-active {
      border-color: map-get($colors, base-4);
    } // &:hover

    &.is-active {
      box-shadow: 0 0 20px map-get($colors, base-4);

      .c-category-navigation__link {
        cursor: default;
      } // .c-category-navigation__link
    } // &.is-active

    &--assassination {
      .c-category-navigation__link {
        background-image: url("../images/icon-rogue-assassination.jpg");
      } // .c-category-navigation__link
    } // &--assassination
    &--outlaw {
      .c-category-navigation__link {
        background-image: url("../images/icon-rogue-outlaw.jpg");
      } // .c-category-navigation__link
    } // &--assassination
    &--subtlety {
      .c-category-navigation__link {
        background-image: url("../images/icon-rogue-subtlety.jpg");
      } // .c-category-navigation__link
    } // &--assassination
  } // .c-category-navigation__list-item

  .c-category-navigation__link {
    @extend %u-image-replacement;
    background: transparent no-repeat;
    background-size: cover;
    display: block;
    height: 40px;
    width: 40px;

    @include mq(medium) {
      height: 56px;
      width: 56px;
    } // mq.medium
  } // .c-category-navigation__link
} // .c-category-navigation
