//
// Component: Navigation Category
// --------------------------------------------------

.c-navigation-category {
  border: 1px solid map-get($colors, base-5);
  border-width: 1px 0;
  margin: 0 0 map-get($spacing, small);
  padding: 5px 0;
  text-align: center;

  @include mq(medium) {
    padding: 10px 0;
    text-align: left;
  } // mq.medium

  .c-navigation-category__heading {
    color: map-get($colors, base-1);
    font-family: map-get($fonts, base-1);
    font-size: 1.5em;
    font-weight: 700;
    margin: 0 0 5px;
    text-transform: uppercase;

    @include mq(medium) {
      float: left;
      font-size: 1.8em;
      line-height: 62px;
      margin: 4px 20px 0 map-get($spacing, small);
    } // mq.medium
  } // .c-navigation-category__heading

  .c-navigation-category__list {
    margin: 0;
    padding: 0;
    text-align: center;

    @include mq(medium) {
      @include clearfix();
      float: left;
    } // mq.medium
  } // .c-navigation-category__list

  .c-navigation-category__list-item {
    @include transition(background-color .3s linear);
    border-radius: 50%;
    display: inline-block;
    margin: 0 10px;
    padding: 5px;
    overflow: hidden;

    @include mq(medium) {
      display: block;
      float: left;
      margin: 0 10px;
    } // mq.medium

    &:hover,
    &.is-active {
      background: map-get($colors, base-1);
    } // &:hover

    &.is-active {
      box-shadow: 0 0 20px map-get($colors, base-4);

      .c-navigation-category__link {
        border-color: map-get($colors, quality-legendary);
        cursor: default;
      } // .c-navigation-category__link
    } // &.is-active

    &--assassination {
      .c-navigation-category__link {
        background-image: url("../media/images/icon-rogue-assassination.jpg");
      } // .c-navigation-category__link
    } // &--assassination
    &--outlaw {
      .c-navigation-category__link {
        background-image: url("../media/images/icon-rogue-outlaw.jpg");
      } // .c-navigation-category__link
    } // &--assassination
    &--subtlety {
      .c-navigation-category__link {
        background-image: url("../media/images/icon-rogue-subtlety.jpg");
      } // .c-navigation-category__link
    } // &--assassination
  } // .c-navigation-category__list-item

  .c-navigation-category__link {
    @extend %u-image-replacement;
    background: transparent no-repeat;
    background-size: cover;
    border: 1px solid map-get($colors, base-1);
    border-radius: 50%;
    display: block;
    height: 40px;
    width: 40px;

    @include mq(medium) {
      height: 56px;
      width: 56px;
    } // mq.medium
  } // .c-navigation-category__link
} // .c-navigation-category
