//
// Component: Profile Control
// --------------------------------------------------

.c-profile-control {

  @include mq(medium) {
    float: right;
  } // mq.medium

  .c-profile-control__heading {
    @extend %u-visually-hidden;
  } //.c-profile-control__heading

  .c-profile-control__toggle {

    @include mq-between(mobile) {
      width: 100%;
    } // mq-between.mobile

    @include mq(medium) {
      @include clearfix();
      background: none;
      border: 1px solid map-get($colors, base-5);
      border-width: 0 0 0 1px;
      color: map-get($colors, white);
      cursor: pointer;
      display: block;
      height: 59px;
      padding: 0 map-get($spacing, small);
    } // mq.medium
  } // .c-profile-control__toggle
} // .c-profile-control
