//
// Component: Section
// --------------------------------------------------

.c-section {

  &--content {
    background: map-get($colors, white);
    border-radius: 3px;
    margin-bottom: map-get($spacing, small);
    padding: map-get($spacing, small);
  } // &--content

  &--feature {

  } //&--feature

  &--ad {

  } //&--ad

  *:first-child {
    margin-top: 0;
  } // *:first-child
} // .c-section
