//
// Component: Section Navigation
// --------------------------------------------------

.c-section-navigation {

  @include mq(medium) {
    background: rgba(map-get($colors, base-5), .9);
    border: 1px solid map-get($colors, base-1);
    border-width: 0 1px;
    bottom: 0;
    left: map-get($spacing, small);
    position: fixed;
    top: 0;
    width: 200px;
    z-index: 10;
  } // mq.medium

  @include mq(large) {
    left: 0;
    margin: 0 auto;
    right: 796px;
  } // mq.large

  .c-section-navigation__logo {
    display: none;

    @include mq(medium) {
      border-bottom: 1px solid map-get($colors, base-1);
      display: block;
      font-family: map-get($fonts, base-2);
      font-size: 2.2em;
      line-height: 56px;
      padding-top: 3px;
      text-align: center;
      text-decoration: none;
    } // mq.medium
  } // .c-section-navigation__logo

  .c-section-navigation__class {
    border: 1px solid map-get($colors, base-1);
    border-width: 1px 0;
    font-family: map-get($fonts, base-1);
    font-size: 1.5em;
    font-weight: 700;
    letter-spacing: 1px;
    margin: 0;
    padding: 6px 0 3px;
    text-align: center;
    text-transform: uppercase;

    @include mq(medium) {
      font-size: 1.2em;
      margin: 39px map-get($spacing, small) 27px;
      padding-top: 8px;
    } // mq.medium
  } // .c-section-navigation__class

  .c-section-navigation__class-name {
    @extend %u-visually-hidden;
  } // .c-section-navigation__class-name

  .c-section-navigation__list {
    display: none;

    @include mq(medium) {
      display: block;
      list-style: none;
      margin: 0;
      padding: 0;
    } // mq.medium
  } // .c-section-navigation__list

  .c-section-navigation__list-item {

    @include mq(medium) {
      border-left: 5px solid map-get($colors, base-1);
      border-top: 1px solid map-get($colors, base-1);
      margin: 0;
    } // mq.medium

    &:last-child {

      @include mq(medium) {
        border-bottom: 1px solid map-get($colors, base-2);
      } // mq.medium

      .c-section-navigation__link {

        @include mq(medium) {
          border-bottom: 1px solid map-get($colors, base-1);
        } // .mq-medium
      } // .c-section-navigation__link
    } // &:last-child

    &--create {

      @include mq(medium) {
        border-left-color: map-get($colors, accent-1);
      } // mq.medium
    } // .&--create

    &--discover {

      @include mq(medium) {
        border-left-color: map-get($colors, accent-2);
      } // mq.medium
    } // .&--discover

    &.is-current {

      .c-section-navigation__link {
        background: lighten(map-get($colors, base-5), 10%);
        position: relative;

        &:after {
          border-bottom: 12px solid transparent;
          border-left: 15px solid map-get($colors, base-1);
          border-top: 12px solid transparent;
          content: "";
          display: block;
          height: 0;
          left: 0;
          margin-top: -12px;
          position: absolute;
          top: 50%;
          width: 0;
        } // &:after
      } // .c-section-navigation__link
    } // &.is-current
  } // .c-section-navigation__list-item

  .c-section-navigation__link {

    @include mq(medium) {
      @include transition(background-color .4s ease-in-out);
      border-top: 1px solid map-get($colors, base-2);
      color: map-get($colors, base-4);
      display: block;
      font-size: .85em;
      padding: 17px 5px 13px;
      text-align: center;
      text-decoration: none;
      text-transform: uppercase;
    } // mq.medium

    &:hover {
      background: lighten(map-get($colors, base-5), 10%);
    } // &:hover
  } // .c-section-navigation__link

  .c-section-navigation__toggle {
    @extend %u-image-replacement;
    background: map-get($colors, base-5);
    height: 40px;
    padding: 0;
    position: absolute;
    right: 0;
    top: 40px;
    width: 40px;

    @include mq(medium) {
      display: none;
    } // mq.medium
  } // .c-section-navigation__toggle
} // .c-section-navigation

.c-section-navigation__select {

  @include mq(medium) {
    display: none;
  } // mq.medium
} // .c-section-navigation__select
