//
// Component: Sidr
// --------------------------------------------------

.c-sidr {

  @include mq-between(mobile) {
    background: map-get($colors, base-5);
    color: map-get($colors, base-4);
    display: none;
    height: 100%;
    overflow-x: none;
    overflow-y: auto;
    position: fixed;
    top: 0;
    width: 260px;
    z-index: 999999;
  } // mq-between.mobile

  @include mq(medium) {
    display: inline !important;
  } // mq.medium

  // scss-lint:disable SelectorFormat
  &.left {

    @include mq-between(mobile) {
      left: -260px;
      right: auto;
    } // mq-between.mobile
  } // &.left

  &.right {

    @include mq-between(mobile) {
      left: auto;
      right: -260px;
    } // mq-between.mobile
  } // &.right
  // scss-lint:enable SelectorFormat
} // .c-sidr

.c-sidr__toggle {
  @include transition(border-color .4s ease-in-out);
  border-top: 3px solid map-get($colors, base-4);
  float: right;
  font-size: 0;
  height: 18px;
  margin-top: 9px;
  position: relative;
  width: 25px;

  @include mq(medium) {
    display: none;
  } // mq.medium

  &:before {
    @include transition(transform .4s ease-in-out, top .4s ease-in-out);
    background: map-get($colors, base-4);
    content: "";
    display: block;
    height: 3px;
    left: 0;
    position: absolute;
    top: 6px;
    width: 100%;
  } // &:before

  &:after {
    @include transition(transform .4s ease-in-out, top .4s ease-in-out);
    background: map-get($colors, base-4);
    content: "";
    display: block;
    height: 3px;
    left: 0;
    position: absolute;
    top: 100%;
    width: 100%;
  } // &:after

  .sidr-open & {
    border-color: transparent;

    &:before {
      top: 32%;
      transform: rotate(45deg);
    } // &:before

    &:after {
      top: 32%;
      transform: rotate(-45deg);
    } // &:after
  } // .sidr-open &
} // .c-sidr__toggle
