<nav role="navigation" class="c-navigation-section">
  <a href="#" title="" class="c-navigation-section__logo">
    <img src="media/images/logo-raidclass.png" alt="Raid Class logo" class="c-navigation-section__logo-image" />
  </a>
  <h1 class="c-navigation-section__class">{{ spec }}<span class="c-navigation-section__class-name"> {{ wow_class }}</span></h1>
  <ul class="c-navigation-section__list">
    <li class="c-navigation-section__list-item c-navigation-section__list-item--overview is-current">
      <a href="#overview" title="" class="c-navigation-section__link">Overview</a>
    </li><!-- /.c-navigation-section__list-item -->
    <li class="c-navigation-section__list-item c-navigation-section__list-item--rotation">
      <a href="#rotation" title="" class="c-navigation-section__link">Rotation</a>
    </li><!-- /.c-navigation-section__list-item -->
    <li class="c-navigation-section__list-item c-navigation-section__list-item--stats">
      <a href="#stat_priority" title="" class="c-navigation-section__link">Stat Priority</a>
    </li><!-- /.c-navigation-section__list-item -->
    <li class="c-navigation-section__list-item c-navigation-section__list-item--talents">
      <a href="#talents" title="" class="c-navigation-section__link">Talents</a>
    </li><!-- /.c-navigation-section__list-item -->
    <li class="c-navigation-section__list-item c-navigation-section__list-item--artifact">
      <a href="#artifact" title="" class="c-navigation-section__link">Artifact</a>
    </li><!-- /.c-navigation-section__list-item -->
    <li class="c-navigation-section__list-item c-navigation-section__list-item--addons">
      <a href="#addons" title="" class="c-navigation-section__link">Addons</a>
    </li><!-- /.c-navigation-section__list-item -->
    <li class="c-navigation-section__list-item c-navigation-section__list-item--macros">
      <a href="#macros" title="" class="c-navigation-section__link">Macros</a>
    </li><!-- /.c-navigation-section__list-item -->
    <li class="c-navigation-section__list-item c-navigation-section__list-item--tips">
      <a href="#boss_tips" title="" class="c-navigation-section__link">Boss Tips</a>
    </li><!-- /.c-navigation-section__list-item -->
    <li class="c-navigation-section__list-item c-navigation-section__list-item--ask">
      <a href="#ask" title="" class="c-navigation-section__link">Ask a Question</a>
    </li><!-- /.c-navigation-section__list-item -->
  </ul><!-- /.c-navigation-section__list -->
</nav><!-- /.c-navigation-section -->
<select class="c-navigation-section__select js-fancy-select">
  <option>Overview</option>
  <option>Stat Priority</option>
  <option>Rotation</option>
  <option>Talents</option>
  <option>Glyphs</option>
  <option>Addons</option>
  <option>Macros</option>
  <option>Boss Tips</option>
  <option>Ask a Question</option>
</select><!-- /.c-navigation-section__select -->
