////
/// Global variables
/// @group Globals
/// @author Eric Taylor
////

/// Variable map: Horizontal breakpoints
/// ---
/// @type Map
/// ---
/// @prop {Map} Breakpoints
/// @prop {Number} tiny [400px] - Tiny
/// @prop {Number} small [600px] - Small
/// @prop {Number} medium [1025px] - Medium
/// @prop {Number} large [1400px] - Large
/// @prop {Number} huge [1600px] - Huge

$breakpoints: (
  tiny: 480px,
  small: 640px,
  medium: 768px,
  large: 1024px,
  huge: 1400px
);

/// Variable map: Fonts
/// ---
/// @type Map
/// ---
/// @prop {String} fonts

$fonts: (
  base-1: "Josefin Sans",
  base-2: "Varela Round"
);

/// Variable map: Colors
/// ---
/// @type Map
/// ---
/// @prop {String} colors.1 [#333] - 1

$colors: (
  black: #000,
  white: #fff,
  white--dark: #f3f3f3,
  base-1: #15161f,
  base-2: #2f485b,
  base-3: #323947,
  base-4: #c4c9ce,
  base-5: #212930,
  accent-1: #058894,
  accent-2: #e68d35,
  accent-3: #09aa64,
  class-death-knight: #850111,
  class-death-knight--dark: darken(#850111, 30%),
  class-demon-hunter: #3ea123,
  class-demon-hunter--dark: darken(#3ea123, 30%),
  class-druid: #ab4f03,
  class-druid--dark: darken(#ab4f03, 30%),
  class-hunter: #6d9c33,
  class-hunter--dark: darken(#6d9c33, 30%),
  class-mage: #69ccf0,
  class-mage--dark: darken(#69ccf0, 30%),
  class-monk: #00ff96,
  class-monk--dark: darken(#00ff96, 30%),
  class-paladin: #b34677,
  class-paladin--dark: darken(#b34677, 30%),
  class-priest: #fff,
  class-priest--dark: darken(#fff, 30%),
  class-rogue: #e3d320,
  class-rogue--dark: darken(#e3d320, 30%),
  class-shaman: #0031b8,
  class-shaman--dark: darken(#0031b8, 30%),
  class-warlock: #584391,
  class-warlock--dark: darken(#584391, 30%),
  class-warrior: #94672f,
  class-warrior--dark: darken(#94672f, 30%),
  quality-legendary: #ffd100
);


/// Variable map: Spacing
/// ---
/// @type Map
/// ---
/// @prop {String} spacing.small [15px] - Small

$spacing: (
  small: 14px
);
