//
// Theme: Class
// --------------------------------------------------

// scss-lint:disable all
.t-class {

  &--rogue {
    .c-navigation-category__heading {
      color: map-get($colors, class-rogue--dark);
    } // .c-navigation-category__heading
    .c-navigation-section__class {
      color: rgba(map-get($colors, class-rogue), .8);
    } // .c-navigation-section__class
    .c-navigation-category {
      background-color: rgba(map-get($colors, class-rogue), .8);
    } // .c-navigation-category
    .fancy-select {
      .options {
        background: map-get($colors, class-rogue);
        border-color: map-get($colors, class-rogue--dark);

        li {
          color: map-get($colors, class-rogue--dark);

          &.selected {
            background-color: map-get($colors, class-rogue--dark);
            color: map-get($colors, white);
          }
        } // li
      } // .options
    } // .fancy-select
    .c-section {

      a {
        color: map-get($colors, class-rogue--dark);

        &:hover {
          color: map-get($colors, class-rogue);
        } // &:hover
      } // a
    } // .c-section
  } // .&--rogue
} // .t-class
// scss-lint:enable all
