//
// Component: Banner
// --------------------------------------------------

.c-banner {
  background: map-get($colors, base-5);
  margin: 15px 0;
  padding: 20px 0;
  text-align: center;
} // .c-banner
